* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  max-width: 100%;
  height: auto;
}

header {
  background-color: #d9edff;
  padding-bottom: 34px;
}

header section {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #ffa62b;
  text-transform: uppercase;
  margin-left: 102px;
}

.hamburger {
  display: none;
}

#menu-toogle {
  display: none;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 41px;
  padding: 35px 102px;
}

.nav-links ul {
  display: flex;
  gap: 28px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #000000;
}

.nav-btn {
  padding: 12px 27px;
  border: none;
  border-radius: 10px;
  background-color: #ffa62b;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-texts {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.header-texts h1 {
  font-weight: 800;
  font-size: 48px;
  width: 100%;
  max-width: 416px;
}

.header-texts p {
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  max-width: 452px;
  text-transform: capitalize;
}

.header-elements {
  display: flex;
  flex-direction: column;
  gap: 53px;
}

.hero-btns {
  display: flex;
  gap: 18px;
}

.join-btn {
  padding: 17px 56px;
  border: none;
  border-radius: 27px;
  background-color: #00a0c1;
  color: #ffffff;
  font-weight: 800;
  font-size: 20px;
}

.learn-btn {
  padding: 17px 40px;
  border: 1px solid #00a0c1;
  border-radius: 27px;
  font-weight: 400;
  font-size: 20px;
  color: #00a0c1;
  background-color: transparent;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 392px;
  background-color: #ffffff;
  border-radius: 19px;
  padding: 41px 34px 34px 34px;
  margin-top: 77px;
}

.form-container h3 {
  margin-bottom: 36px;
  font-size: 20px;
  font-weight: 600;
}

.form__field--container {
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-field label {
  font-weight: 600;
  font-size: 17px;
  color: #000000b0;
}

input,
select {
  padding: 17px 29px;
  font-weight: 600;
  font-size: 17px;
  color: #bdbdbd;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  background-color: #fbfbfb;
  width: 100%;
  max-width: 324px;
}

.form-btn {
  padding: 17px 73px;
  font-weight: 600;
  font-size: 17px;
  background-color: #ffa62b;
  color: #ffffff;
  border: none;
  border-radius: 8px;
}

.card-heading {
  text-align: center;
  padding: 122px 0 74px 0;
  font-weight: 600;
  font-size: 24px;
}

.card-subheading {
  display: none;
}

.services {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.vector {
  background-color: #ffa62b;
  padding: 17px 13px;
  border-radius: 50%;
}

.card {
  background-color: #d9edff;
  width: 100%;
  max-width: 342px;
  border-radius: 28px;
}

.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 41px;
  gap: 14px;
  margin-bottom: 35px;
}

.card-title p {
  font-weight: 400;
  font-size: 20px;
}

.card-lists {
  list-style: none;
  border: 1px solid #00a0c1;
  border-radius: 30px;
  background-color: #ffffff;
  padding: 46px 26px 28px 11px;
}

.card-lists li {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  margin-bottom: 28px;
  text-transform: capitalize;
  padding-left: 16px;
  position: relative;
}

.card-lists li::before {
  content: "\2022";
  position: absolute;
  left: 0;
}

.learn-more {
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  color: #ffa62b;
  padding-left: 22px;
}

.education {
  text-align: center;
  padding-top: 114px;
  width: 100%;
  max-width: 434px;
  margin: 0 auto;
}

.education h3 {
  font-weight: 600;
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.education p {
  font-weight: 400;
  font-size: 16px;
  text-transform: lowercase;
  margin-bottom: 156px;
}

.child-education {
  background-color: #0b353d;
  height: 302px;
  border-top-right-radius: 151px;
  border-bottom-left-radius: 151px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.youtube-container {
  position: relative;
  height: 348px;
  min-width: 723px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
  transform: translateY(-76px);
}

.child-development {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.youtube-logo {
  width: 112.9px;
  height: 79.8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery-heading {
  font-weight: 600;
  font-size: 24px;
  padding-top: 147px;
  text-align: center;
  text-transform: capitalize;
}

.gallery {
  display: flex;
  justify-content: center;
  margin-top: 59px;
}

.gallery-container {
  display: grid;
  grid-template-columns: 130px 150px 150px 150px 130px 160px;
  grid-template-rows: 170px 225px;
  column-gap: 11px;
  row-gap: 13.38px;
}

.gallery-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-container .img-a {
  grid-column: 1 / span 2;
}

.gallery-container .img-b {
  grid-column: 3 / span 2;
}

.gallery-container .img-c {
  grid-column: 5 / span 2;
  grid-row: 1 / span 2;
  object-position: 80%;
}

.gallery-container .img-d {
  grid-column: 1 / span 4;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-top: 25px;
}

.social-links h3 {
  font-weight: 600;
  font-size: 24px;
  text-transform: capitalize;
}

.social-icons {
  display: flex;
  gap: 8px;
  font-size: 48px;
}

.footer-divider {
  border: none;
  height: 1px;
  background-color: #000000;
  margin: 52px 0 37px 0;
}

.copy-right {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-bottom: 45px;
}

@media (max-width: 390px) {
  .hamburger {
    display: block;
    padding-right: 22px;
    align-self: flex-end;
  }

  .nav-links {
    display: none;
  }

  .logo {
    padding-top: 24px;
    font-weight: 400;
    margin-left: 19px;
  }

  .hero {
    display: flex;
    flex-direction: column;
  }

  .header-texts {
    align-items: center;
    gap: 19px;
  }

  .header-texts h1 {
    font-weight: 600;
    font-size: 36px;
    text-transform: capitalize;
    max-width: 305px;
    padding-top: 32px;
    text-align: center;
  }

  .header-texts p {
    text-align: center;
  }

  .hero-btns {
    flex-direction: column;
    align-items: center;
    gap: 23px;
  }

  .join-btn {
    padding: 14px 42px;
  }

  .learn-btn {
    padding: 14px 24px;
  }

  .form-container {
    max-width: 312px;
    padding: 35px 27.06px 39px 27.06px;
    margin-top: 70px;
  }

  .form-container h3 {
    margin-bottom: 38px;
  }

  .form__field--container {
    gap: 29.4px;
  }
  .form-field label {
    font-weight: 400;
  }

  input,
  select {
    padding: 12px 22.94px;
    font-weight: 400;
    max-width: 257.88px;
  }

  .form-btn {
    padding: 13px 35px;
  }

  .card-headings {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-heading {
    padding: 68px 0 8px 0;
  }

  .card-subheading {
    display: block;
    max-width: 285px;
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 63px;
  }

  .services {
    flex-direction: column;
    align-items: center;
    gap: 75px;
  }

  

  .child-education {
    background-color: transparent;
    
  }

  

  .youtube-container {
  height: 714px;
  transform: translateY(0);
  
}


  



}
